
html,body
{
    height:100%;
}

#all
{
    max-width:1024px;
     min-width:500px;
     min-height:100%;
     height:auto !important;
     overflow:hidden;
     margin:auto;
     position:relative;
     padding:0 1em;
}

#container
{
    padding-bottom:5em
}

#footer
{
    width:100%;
    height:3em;
    position:absolute;
    bottom:0;
    padding-top:1em;
}

#console
{
    height: 300px;
    overflow: auto;
}

#commandLine
{
    width: 80%;
    margin: auto;
}



